/* Reset styles */
@import "reset";
/* Reset ends */

/* Сonnect fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;700&display=swap");
/* Connect end */

html {
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* *::after *::before {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.6;
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 90%);
}
/* Header................... */
.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

.header__nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 50px;
}

.nav__text {
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.link {
  color: hsl(0, 0%, 20%);
  text-decoration: none;
  transition: all 0.4s ease-out;
}

.link:hover {
  color: hsl(35, 100%, 40%);
}

/*Header end....................................*/

.main {
  display: flex;
  flex-direction: row;
  background-color: hsl(0, 0%, 100%);
}

.document__title {
  font-family: "Inter", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: solid 4px hsl(42, 90%, 50%);
}

.document__wrapper {
  margin-bottom: 20px;
}

.document__image {
  height: 100%;
  width: 100%;
  margin: 20px auto;
  object-fit: cover;
}

/* aside......................................*/

.aside {
  width: 40%;
  padding: 20px 50px 0;
  background-color: hsl(42, 20%, 77%);
}

.aside__avatar {
  display: flex;
  justify-content: center;
  height: 450px;
  max-width: 300px;
  margin: 20px auto;
}
.aside__img {
  border-radius: 5px;
}

.name__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name__title {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.name__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
/* aside-contact................ */
.contact__block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact__block img {
  width: 25px;
  margin-right: 10px;
}
.contact__link {
  color: hsl(0, 0%, 20%);
  transition: all 0.4s ease-out;
  text-decoration: none;
}

.contact__link:hover {
  color: hsl(42, 70%, 50%);
  text-decoration: none;
}

/* aside-contact end............*/
/* aside-skill and language.....*/

.skill__block,
.language__block {
  margin: 5px 15px;
  position: relative;
}

.skill__block::before,
.language__block::before {
  content: "";
  position: absolute;
  left: -15px;
  top: calc(50% - 3.5px);
  display: block;
  height: 9px;
  width: 9px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 100%;
}
/* aside-skill and language end*/
/* aside end................................... */
/* section */

.section {
  width: 60%;
  padding: 20px 50px 0;
}

.about-me__text {
  text-indent: 40px;
}

.education__elem1 {
  margin: 0 15px;
  position: relative;
}

.education__elem1::before {
  content: "";
  position: absolute;
  left: -15px;
  top: calc(25% - 5px);
  display: block;
  height: 10px;
  width: 10px;
  background-color: hsl(42, 90%, 50%);
  border-radius: 100%;
}

.education__elem2 {
  margin: 5px 15px;
  position: relative;
}

.education__elem2::before {
  content: "";
  position: absolute;
  left: -15px;
  top: calc(50% - 5px);
  display: block;
  height: 10px;
  width: 10px;
  background-color: hsl(30, 90%, 50%);
  border-radius: 100%;
}

/* section end */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(42, 90%, 50%);
}

.footer__block {
  padding: 15px;
}
.footer__text {
  font-size: 25px;
  font-weight: 700;
  color: black;
  margin: 0 40px;
}

.footer__img-1 {
  height: 45px;
}

.footer__img-2 {
  height: 30px;
}
/* ....................................... */
/* burger................................. */
.burger-btn {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid black;
}

.burger-btn__line {
  pointer-events: none;
}

.burger-btn::before,
.burger-btn::after,
.burger-btn__line {
  width: 75%;
  height: 2px;
  background-color: black;
  transition: all 0.2s ease;
}

.burger-btn::before,
.burger-btn::after {
  position: absolute;
  content: "";
  transform: translateY(-50%);
  transform-origin: center;
}

.burger-btn::before {
  top: 25%;
}

.burger-btn::after {
  top: 75%;
}
/* burger end............................. */

.js-hide-nav {
  display: none;
}

.js-mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

.js-open-burger .burger-btn__line {
  width: 0;
}

.js-open-burger::before,
.js-open-burger::after {
  top: 50%;
  transform-origin: top center;
}

.js-open-burger::before {
  transform: rotate(45deg) translateY(-50%);
}

.js-open-burger::after {
  transform: rotate(-45deg) translateY(-50%);
}

/* Media............................................ */

@media (min-width: 480px) {
  .header__button {
    width: 40px;
    height: 40px;
  }

  .code__item {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .header__button {
    width: 50px;
    height: 50px;
    top: 30px;
    right: 30px;
  }
  .code__item {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    width: 100%;
    background-color: hsl(42, 90%, 50%);
  }

  .header__nav {
    position: static;
    display: block;
    padding: 0;
    border-bottom: 0;
  }

  .header__button {
    display: none;
  }
}

@media (min-width: 1200px) {
  .code__item {
    font-size: inherit;
  }
}
